@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Baloo Chettan 2', cursive;
    margin: 0;
    background-image: url("bg.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: -30rem;
}
.countdowncontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.cd{
    text-align: center;
}
.cd span{
    font-size: 1.3rem;
}